// custom style here...

// Required for some issue to fixed
*,
:after,
:before,
.form-control {
  box-sizing: border-box;
}

body {
  background-color: $gray-300;
}

// Required for some issue to fixed
dd,
p {
  margin: 0;
  margin-bottom: 1rem !important;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  background-position: center right 10px !important;
}

// Helpers
.cursor-pointer {
  cursor: pointer;
}

// Prism.js CSS
code[class*="language-"],
pre[class*="language-"] {
  font-family: "Operator Mono", "Dank Mono", Consolas, Monaco, "Andale Mono",
    "Ubuntu Mono", monospace;
}
.token.keyword {
  font-style: italic;
}
